<% layout('./layouts/boilerplate') %>
<body>
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <h1 style="margin-left: 15px; margin-top: 15px;">Listing Details</h1>
            <div class="card">
                <img src="<%= listing.image %>" class="card-img-top show-img" alt="Listing Image">
                <div class="card-body">
                    <h5 class="card-title"><%= listing.title %></h5>
                    <p class="card-text p-show"><%= listing.description %></p>
                    <p class="card-text p-show">&#8377; <%= listing.price.toLocaleString("en-IN") %></p>
                    <p class="card-text p-show"><%= listing.location %></p>
                    <p class="card-text p-show"><%= listing.country %></p>
                    <div style="display: flex; margin-top: 15px;">
                    <button class="btn edit-btn"><a style="color: white; text-decoration: none;" href="/listing/<%= listing._id %>/edit">Edit</a></button>
                    <form method="post" action="/listing/<%= listing._id %>?_method=DELETE" >
                        <button class="btn btn-dark">Delete</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>